.botaoAlugar {
	background: #e82727;
	color: white;
	border: none;
	outline: none;
	padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	position: absolute;
	width: 50%;
	bottom: 50px;
	margin: 0 25%;
}
