.loginCorpo {
	
}

.loginForm {
	margin: 10% 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding-bottom: 30px;
	border-radius: 5px;
	width: 60%;
}

.loginTitulo {
	margin-bottom: 10px;
	color: #e82727;
}

.loginInputs {
	width: 70%;
	border: .5px solid #e82727;
	margin-top: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
}

.loginInputSenhaDiv {
	width: 70%;
	border: .5px solid #e82727;
	margin-top: 20px;
	border-radius: 5px;
	display: flex;
  justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
}

.loginInputNome, .loginInputSenha {
	outline: none;
	padding: 5px;
	color: #8f0000;
}

.loginInputNome::placeholder, .loginInputSenha::placeholder {
	color: #360101;
}

.loginInputSenha {
	display: inline;
	width: 70%;
	border: none;
	border-radius: 5px;
}

.eyeIcon {
	display: flex;
}

.mensagemCampoObrigatorio {
	font-size: 10px;
	color: orange;
	margin-top: 3px;
	
}

.botaoEntrar {
	margin-top: 30px;
	width: 50%;
	background: #e82727;
	color: white;
	border: none;
	outline: none;
	padding: 5px;
	border-radius: 5px;
}

.registrarLink {
	margin-top: 10px;
	margin-left: 50%;
}

.mensagemDeAlertaSucesso {
	bottom: 20px;
	border: 1.5px solid #30ab30;
	border-radius: 6px;
	background: #baffba;
	color: #30ab30;
	padding: 8px;
	max-width: 70%;
	margin: 10px 0;
	fontSize: 0.2em;
}

.mensagemDeAlertaErro {
	bottom: 20px;
	border: 1.5px solid #d13b3b;
	border-radius: 6px;
	background: #ffbaba;
	color: #d13b3b;
	padding: 8px;
	max-width: 70%;
	margin: 10px 0;
	fontSize: 0.2em;
}

.disabledDiv {
	display: none;
	
}